@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  /*  */
  --height-header-mobi: 4rem;
  --height-footer-mobi: 4rem;
  /* color */
  /* background */
  --bg-header: #fff;
}

img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

/* NAV */
nav{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  height: var(--height-header-mobi);
  width: 100%;
  background: var(--bg-header);
  align-items: center;
  justify-content: space-between;
  padding: 0 35px 0 35px;
  flex-wrap: wrap;
}

nav .intro{
  display: flex;
  align-items: stretch;
  height: 40px;
  color: #000;
  font-weight: 600;
}

nav .intro .line{
  width: 1px;
  height: 100%;
  margin: 0 5px;
  border-left: 1px solid #E0E0E0;
}

nav .menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

/* nav ul li a.active,
nav ul li a:hover{
  color: #E97730;
  background: #000;
} */

nav .menu-btn{
  color: #000;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]{
  display: none;
}

nav .btn-hotline{
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  background: #E97730;
}
/* END:NAV */

/* BANNER */
#banner{
  margin-top: var(--height-header-mobi);
  margin-bottom: 50px;
}
#banner .content{
  width: 100%;
  background-color: #FDF2CC;
  border-radius: 24px;
  padding: 50px 100px;
  display: flex;
}

#banner .left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}

#banner .left .intro{
  display: none;  
}

#banner .intro .logo{
  width: auto;
  height: calc(var(--height-header-mobi) / 2);
  display: inline-block;
}

#banner .left h1{
  font-size: 45px;
  font-weight: 700;
}
/* END:BANNER */

/* SERVICE */
.service{
  margin-bottom: 25px;
}
.service .service__title{
  color: #1975D2;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  margin: 25px 0;
}
.service .service__title span{
  color: #222222;
}
/* .service .service__container{
} */
.service .service__item{
  height: 100%;
  padding: 35px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--bg-item-service);
  border-radius: 10px;
}
.service .service__item .service__item--icon{
  width: 55px;
  height: 55px;
  background-color: var(--bg-icon-service);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* END:SERVICE */

/* APP STORE */
.app-store{
  margin-top: 50px;
  margin-bottom: 50px;
}
.app-store .app-store__title{
  margin-bottom: 25px;
  color: #E97730;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.app-store .app-store__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
.app-store .app-store__container .app-store__item{
  width: 85px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.app-store .app-store__item .app-store__item--icon{
  width: 45px;
  height: 45px;
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-store .app-store__item .app-store__item--name{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #413D3D;
}
/* END:APP STORE */

/* FEATURE */
.feature .feature__table th{
  border: 1px solid #FFFFFF;
}
.feature .feature__table td{
  border: 1px solid #ecf0f1;
}
.feature .feature__table tbody tr td:nth-child(1){
  padding-left: 30px;
}
.feature .feature__table tbody tr td:nth-child(n+2){
  text-align: center;
}
.feature .feature__table tbody .fa-check{
  color: #27AE60;
}
.feature .feature__table tbody .fa-xmark{
  color: #F0483E;
}
.feature .feature__table .feature__table--col-title{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 30px;
}
.feature .feature__table .feature__table--col-title:nth-child(1){
  background-color: #1975D2;
  border-radius: 5px 0px 0px 0px;
}
.feature .feature__table .feature__table--col-title:nth-child(2){
  background-color: #F0483E;
}
.feature .feature__table .feature__table--col-title:nth-child(3){
  background-color: #E97730;
  border-radius: 0px 5px 0px 0px;
}
.feature .feature__table .feature__table--tag-name{
  background-color: var(--bg-tag-name);
}
.feature .feature__table .feature__table--tag-name h3{
  color: #413D3D;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
/* END:FEATURE */

/* CAPACITY */
.capacity{
  margin: 50px 0;
}
.capacity .title{
  margin: 0 auto;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.capacity .container{
  padding: 3.5rem 9.5rem;
  background-image: linear-gradient(to right, #FFFCF2,#FDF2CC);
}
.capacity .accordion .accordion-item{
  height: 120px;
  outline: none;
  border: none;
  background-color: transparent;
}
.accordion-button:not(.collapsed)::after{

}
.capacity .accordion .accordion-button{
  width: 100%;
  padding: 0 0 15px;
  color: #000;
  font-weight: 700;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}
.capacity .accordion .accordion-button::after{
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  background-size: 1rem;
}

.accordion-item {
  font-size: 16px;
}
.capacity .accordion .accordion-btn span{
  font-size: 14px;
}
.capacity .accordion .accordion-body{
  padding: 0;
  font-size: 14px;
}
.capacity .accordion .accordion-body code{
  color: #000;
  font-weight: 700;
}
.capacity .warning{
  color: #e67e22;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
/* END:CAPACITY */

/* PERFORMANCE */
.performance{
  margin: 50px 0;
}
.performance .performance__info{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.performance .performance__info .performance__title{
  font-size: 24px;
  font-weight: 700;
}
.performance .performance__info .performance__content{
  
}
.performance__info .performance__content .performance__info-detail{
  display: flex;
  align-items: center;
}
.performance__info .performance__info-detail .performance__name{
  display: flex;
  align-items: center;
}
.performance__info .performance__name img{
  width: 35px;
  height: 35px;
}
.performance__info .performance__name span{
  width: 80px;
  font-weight: 700;
  margin: 0 10px;
}
/* END:PERFORMANCE */

/* part-324 */
.part-324{
  background-color: #FDF2CC;
  margin: 50px 0;
}

.part-324 .pricing-table .swiper{
  width: 100%;
  height: 600px;
  position: unset;
}
.part-324 .pricing-table{
  position: relative;
}

.pricing-table .swiper .swiper-slide{
  width: 33.3%;
  padding: 0 15px;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.pricing-table .swiper .swiper-slide .pricing{
  display: flex;
  flex-direction: column;
  padding: 100px 20px 50px;
  background: #fff;
}
.swiper .swiper-slide .pricing h3{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.swiper .swiper-slide .pricing .pricing-package{
  color: #27AE60;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.swiper .swiper-slide .pricing .pricing-vnd{
  padding: 2px 6px;
  margin: 0 5px;
  font-size: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}
.swiper .swiper-slide .pricing > p{
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}
.swiper .swiper-slide .pricing p.pricing-feature{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
}
.swiper .swiper-slide .pricing p.pricing-feature > .fa-check{
  color: #27AE60;
  font-size: 18px;
  margin-right: 10px;
}
.swiper .swiper-slide .pricing .pricing-btn{
  padding: 10px;
  margin: 15px 0;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #E97730;
  outline: none;
  border: none;
}
.swiper .swiper-slide .pricing > .pricing-recurring{
  padding: 8px 10px;
  background-color: #F5F5F5;
}
.swiper .swiper-slide .pricing > .pricing-only{
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swiper .swiper-slide .pricing > .pricing-only span{
  color: #1975D2;
  font-weight: 600;
}
.swiper .swiper-slide .pricing > .pricing-only h1{
  margin: 10px 0;
  color: #1975D2;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.swiper .swiper-slide .pricing > .pricing-only p{
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}
.swiper .swiper-slide .pricing p.gray{
  color: #828282;
}

/* .pricing-table .swiper-wrapper{
  position: relative;
} */
.pricing-table .swiper-horizontal > .swiper-pagination-bullets, 
.pricing-table .swiper-pagination-bullets.swiper-pagination-horizontal, 
.pricing-table .swiper-pagination-custom, 
.pricing-table .swiper-pagination-fraction{
  top: -50px;
  left: 0;
  width: 100%;
}
.pricing-table .swiper-pagination{
  display: flex;
  justify-content: center;
}
.pricing-table .swiper-pagination-bullet {
  display: block;
  width: 100px;
  height: 40px;
  margin: 0 !important;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  opacity: 1;
  background: #fff;
  border-radius: 0;
}
.pricing-table .swiper-pagination-bullet-active {
  color: #fff;
  background: #F0483E;
}

.part-324 .discount-chart{
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  background-color: #FFFFFF;
}
.discount-chart .discount-chart__title{
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.discount-chart .discount-chart__sub-title{
  margin-bottom: 35px;
  text-align: center;
}
.discount-chart .discount-chart__sub-title p{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
/* END:part-324 */

/* ADVANTAGES */
.advantages{
  margin: 50px 0;
}
.advantages .advantages-title{
  padding: 0 4rem;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.advantages .advantages-item{
  height: 200px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  background-color: #F1F1F1;
}
.advantages .advantages-item img{
  width: 55px;
  height: 55px;
  margin: 0 auto 20px;
}
.advantages .advantages-item h3{
  font-size: 18px;
  font-weight: 600;
}
/* END:ADVANTAGES */

/* FAQ */
.faq{
  background: #F3F3F3;
}
.faq .faq__title{
  text-align: center;
}
.faq .accordion .accordion-item{
  border: none;
  background-color: transparent;
}
.faq .accordion .accordion-button{
  color: #222222;
  font-weight: 700;
  display: block;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
/* END:FAQ */

/* FOOTER */
footer .border-dash {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100%;
  margin: 20px auto;
  border-color: #E0E0E0;
  opacity: 0.1;
}
.footer .footer__contact{
  background-color: #E97730;
}
.footer .footer__contact .item{
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footer__contact .item .icon{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.footer__contact .item .content{
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__contact .item .content h5{
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.footer__contact .item .content span{
  font-weight: 700;
  font-size: 18px;
}
.footer .footer__main{
  background-color: #202124;
}
.footer .footer__main .row{
}
.footer .footer__main .footer__nav{
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202124;
}
.footer .footer__nav .footer__nav-logo{
  height: 40px;
}
.footer .footer__nav .footer__sub-nav{
  display: flex;
}
.footer__nav .footer__sub-nav > li > a{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  margin: 0 15px;
}
.footer .footer__main .info-place{
  margin-bottom: 15px;
}
.footer__main .info-place h3{
  margin-bottom: 15px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
}
.footer__main .info-place p{
  margin: 0;
  color: #ffffff99;
  font-size: 16px;
}
.footer .footer__main .copyright{
  margin-bottom: 15px;
  color: #FFFFFF;
  text-align: center;
}

/* END:FEATURE */

/* MODAL */
.register-modal .border-none {
  border-color: none !important;
  box-shadow: none !important;
  border: none !important;
}
.register-modal .form-outline-box {
  border: 1px solid #ced4da;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.register-modal .form-checked {
  border: none !important;
}
.register-modal .form-control:focus {
  color: #212529;
  border-color: none !important;
  border: none !important;
  outline: 0;
  box-shadow: none !important;
}
.register-modal .btn-checked {
  width: 235px;
  height: 46px;
  border: none !important;
  background: #e97730 !important;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;
  color: #ffffff;
}
.register-modal .box-text {
  margin-top: 84px;
}
.register-modal .title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 133.52%;
  text-align: center;
  color: #202124;
}
.register-modal .content {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 151.02%;
  text-align: center;
  color: #545454;
}
.register-modal .circle {
  position: absolute;
  left: 212px;
  top: 9px;
  color: #FFFFFF;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  width: 65px;
  height: 65px;
  background: #27ae60;
  box-shadow: 0px 4px 9px rgb(4 117 52 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.register-modal .circle::after {
  position: absolute;
  content: "";
  width: 75px;
  height: 75px;
  left: -5px;
  top: -5px;
  border: 1px solid #6fcf97;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .register-modal .modal-dialog {
    max-width: 500px;
    margin: 7rem auto;
  }
  .register-modal .contaniner-box {
    margin: 13rem auto !important;
  }
}
/* END:MODAL */
@media (max-width: 992px) {
  /* NAV/TABLET->MOBI */
  nav{
    padding: 0;
    z-index: 99999;
  }

  nav .menu-btn{
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
  }

  nav .menu-btn i{
    display: block;
  }

  nav .intro{
    display: none;
  }

  nav .menu{
    height: var(--height-header-mobi);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }

  nav ul{
    position: fixed;
    top: -100%;
    left: 0;
    z-index: -1;
    background: var(--bg-header);
    /* height: 100vh; */
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.4s linear;
  }

  nav ul li{
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
  }

  nav ul li a{
    display: block;
    padding: 25px 0;
  }

  /* nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #E97730;
  } */

  nav .menu .btn-hotline{
    height: 100%;
    padding: 0;
    flex: 1 1 auto;
  }

  /* #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  } */

  #click:checked ~ ul{
    top: var(--height-header-mobi);
    transition: all 0.4s linear;
  }
  /* END:NAV/TABLET->MOBI */

  /* BANNER/TABLET->MOBI */
  #banner .left .intro{
    display: block;  
  }

  #banner .container-fluid{
    margin: 0;
    padding: 0;
  }

  #banner .content{
    padding: 15px 25px;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
  }

  #banner .content .left{
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  /* END:BANNER/TABLET->MOBI */

  .part-324 .pricing-table{
  }
  
  .capacity .container{
    padding: 50px 80px;
  }

}

@media (max-width: 768px) {
  .service .service__item .service__item--detail{
    display: none;
  }

  .capacity .container{
    padding: 50px 15px;
  }

  .performance .performance__info{
    padding: 25px 0;
  }
  .performance #info-2{
    background-color: #F2F2F2;
  }
  .performance .performance__img{
    display: none;
  }
  .performance__info .performance__info-detail .performance__info-detail{
  }
  
  .pricing-table .swiper .swiper-slide{
    width: 100%;
    padding: 0;
  }
  .part-324 .discount-chart{
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer .footer__contact .item{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer .footer__main .footer__nav{
    flex-direction: column;
    justify-content: center;
  }
  .footer .footer__nav .footer__nav-logo{
    margin-bottom: 10px;
  }
  .footer .footer__nav .footer__sub-nav{
    margin-top: 10px;
  }
}

